:root {
  --dark-blue: #0D182E;
  --light-yellow: #FDE68A;
}



body {
  margin: 0;
  font-family: 'Big Shoulders Display', sans-serif;
}

.header{
  background-image: url(assets/WorldMap.png);
  background-size:contain;
  background-repeat: no-repeat;
}

@media(min-width: 500px){
  body{background: red;}
  .outer-container{
    width: 500px;
    margin: auto;
  }
}

